{%extends "./views/shard.njk" %} {%block title%}
<title>关于我们</title>
{%endblock%} {%block body %}

        <!-- 移动端关于我们 -->
    <div class="qw-home">
            <!-- 导师团队 -->
            <div class="qw-emotion-qa">
                <div class="qw-emotion-qa-content-listbox swiper-container qw-banner-overflow">
                    <ul class="qw-emotion-qa-content-list swiper-wrapper">
                        <li class="qw-emotion-qa-content-item swiper-slide">

                            <div class="qw-emotion-qa-content-item-wrapper">

                                <div style="margin: 20px 10px" class="qw-left">
                                    <div class="qw-tutor-team-item-portrait" style="background-image: url('http://image.aiqingqingwa.com/FtPo_B0LVshllzfSbSMEO04HpMWK?imageView2/1/w/140')"></div>
                                    <span class="qw-tutor-team-item-btn">立即咨询</span>
                                </div>

                                <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                                    <span class="intro">想要找回爱情里的激情，最重要的是找回你们曾经只有两个人的那个世界。剔出掺和在你们二人之间的种种因素。你可以偶尔准备一顿烛光晚餐制造出一种浪漫...</span>
                                </div>
                            </div>

                        </li>

                        <li class="qw-emotion-qa-content-item swiper-slide">

                            <div class="qw-emotion-qa-content-item-wrapper">

                                <div style="margin: 20px 10px" class="qw-left">
                                    <div class="qw-tutor-team-item-portrait" style="background-image: url('http://image.aiqingqingwa.com/FtPo_B0LVshllzfSbSMEO04HpMWK?imageView2/1/w/140')"></div>
                                    <span class="qw-tutor-team-item-btn">立即咨询</span>
                                </div>

                                <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                                    <span class="intro">想要找回爱情里的激情，最重要的是找回你们曾经只有两个人的那个世界。剔出掺和在你们二人之间的种种因素。你可以偶尔准备一顿烛光晚餐制造出一种浪漫...</span>
                                </div>
                            </div>

                        </li>

                        <li class="qw-emotion-qa-content-item swiper-slide">

                            <div class="qw-emotion-qa-content-item-wrapper">

                                <div style="margin: 20px 10px" class="qw-left">
                                    <div class="qw-tutor-team-item-portrait" style="background-image: url('http://image.aiqingqingwa.com/FtPo_B0LVshllzfSbSMEO04HpMWK?imageView2/1/w/140')"></div>
                                    <span class="qw-tutor-team-item-btn">立即咨询</span>
                                </div>

                                <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                                    <span class="intro">想要找回爱情里的激情，最重要的是找回你们曾经只有两个人的那个世界。剔出掺和在你们二人之间的种种因素。你可以偶尔准备一顿烛光晚餐制造出一种浪漫...</span>
                                </div>
                            </div>

                        </li>

                        <li class="qw-emotion-qa-content-item swiper-slide">

                            <div class="qw-emotion-qa-content-item-wrapper">

                                <div style="margin: 20px 10px" class="qw-left">
                                    <div class="qw-tutor-team-item-portrait" style="background-image: url('http://image.aiqingqingwa.com/FtPo_B0LVshllzfSbSMEO04HpMWK?imageView2/1/w/140')"></div>
                                    <span class="qw-tutor-team-item-btn">立即咨询</span>
                                </div>

                                <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                                    <span class="intro">想要找回爱情里的激情，最重要的是找回你们曾经只有两个人的那个世界。剔出掺和在你们二人之间的种种因素。你可以偶尔准备一顿烛光晚餐制造出一种浪漫...</span>
                                </div>
                            </div>

                        </li>

                        <li class="qw-emotion-qa-content-item swiper-slide">

                            <div class="qw-emotion-qa-content-item-wrapper">

                                <div style="margin: 20px 10px" class="qw-left">
                                    <div class="qw-tutor-team-item-portrait" style="background-image: url('http://image.aiqingqingwa.com/FtPo_B0LVshllzfSbSMEO04HpMWK?imageView2/1/w/140')"></div>
                                    <span class="qw-tutor-team-item-btn">立即咨询</span>
                                </div>

                                <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                                    <span class="intro">想要找回爱情里的激情，最重要的是找回你们曾经只有两个人的那个世界。剔出掺和在你们二人之间的种种因素。你可以偶尔准备一顿烛光晚餐制造出一种浪漫...</span>
                                </div>
                            </div>

                        </li>

                        <li class="qw-emotion-qa-content-item swiper-slide">

                            <div class="qw-emotion-qa-content-item-wrapper">

                                <div style="margin: 20px 10px" class="qw-left">
                                    <div class="qw-tutor-team-item-portrait" style="background-image: url('http://image.aiqingqingwa.com/FtPo_B0LVshllzfSbSMEO04HpMWK?imageView2/1/w/140')"></div>
                                    <span class="qw-tutor-team-item-btn">立即咨询</span>
                                </div>

                                <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                                    <span class="intro">想要找回爱情里的激情，最重要的是找回你们曾经只有两个人的那个世界。剔出掺和在你们二人之间的种种因素。你可以偶尔准备一顿烛光晚餐制造出一种浪漫...</span>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="qw-cut-line"></div>

            <!--公司介绍  -->
            <div class="moke-flex">
                <!-- titel -->
                <div class="qw-tutor-team-head qw-clear">
                    <div class="qw-tutor-team-title qw-left">
                        <div class="qw-tutor-team-title-line"></div>
                    </div>
                    <div class="qw-tutor-team-title-passage qw-left">
                        <h2>公司介绍</h2>
                    </div>
                </div>
                 <div>
                    <img class="model-block" src="/static/images/about.png" alt="公司介绍">
                </div>
                {# <div>
                    <div>
                        <img class="model-block" src="/static/images/qinqi.png" alt="">
                    </div>
                    <div class="text">
                        <span>
                            &nbsp;&nbsp;爱情120成立于2010年，前身是爱情120情感工作室。多年来， 我们致力于两性情感解决方案， 用心研究，全心付出。 用最专业的技能和最温暖的关怀成功帮助上万人。 团队汇集大批心理学、情感学方面专家学者，以结果为导向，收获无数学员好评。
                        </span>
                    </div>
                    <div class="text">
                        <span>
                            &nbsp;&nbsp;爱情120成立于2010年，前身是爱情120情感工作室。多年来， 我们致力于两性情感解决方案， 用心研究，全心付出。 用最专业的技能和最温暖的关怀成功帮助上万人。 团队汇集大批心理学、情感学方面专家学者，以结果为导向，收获无数学员好评。
                        </span>
                    </div>
                    <div class="text">
                        <span>
                            &nbsp;&nbsp;爱情120成立于2010年，前身是爱情120情感工作室。多年来， 我们致力于两性情感解决方案， 用心研究，全心付出。 用最专业的技能和最温暖的关怀成功帮助上万人。 团队汇集大批心理学、情感学方面专家学者，以结果为导向，收获无数学员好评。
                        </span>
                    </div>
                
                    <div>
                        <img class="model-block" src="/static/images/liucheng.png" alt="">
                    </div>
                </div> #}
            </div>

    </div>
{%endblock %}
{% block script %}
    <script>
	    var QASwiper = $('.qw-emotion-qa .swiper-container').swiper({
		    direction: 'horizontal',
		    loop: true,
		    speed: 1000,
		    autoplay: 3500,
		    autoplayDisableOnInteraction: false,
		    pagination: '.swiper-pagination',
		    paginationClickable: true,
	    });
    </script>
{% endblock %}