{%extends "./views/shard.njk" %} {%block title%}
<title>关于我们</title>
{%endblock%} {%block body %}

<!-- 移动端关于我们 -->
<div class="qw-home">
    <!-- 分割线 -->
    <div class="qw-cut-line"></div>
    <!-- 导师团队 -->
    <div class="moke-flex">
        <!-- titel -->
        <div class="qw-tutor-team-head qw-clear">
            <div class="moke-tutor-team-title qw-left">
                <div class="qw-tutor-team-title-line"></div>
            </div>
            <div class="qw-tutor-team-title-passage qw-left">
                <h2>导师团队</h2>
            </div>
        </div>
    </div>
    <div class="qw-emotion-qa">
        <div class="qw-emotion-qa-content-listbox swiper-container qw-banner-overflow">
            <ul class="qw-emotion-qa-content-list swiper-wrapper">
                <li class="qw-emotion-qa-content-item swiper-slide">

                    <div class="qw-emotion-qa-content-item-wrapper">

                        <div style="margin: 20px 10px" class="qw-left">
                            <div class="qw-tutor-team-item-portrait" style="background-image: url('/static/images/daoshi_1.gif')"></div>
                            <span class="qw-tutor-team-item-btn">阳光老师</span>
                        </div>

                        <div style="padding-top: 40px;display: flex" class="qw-emotion-qa-content-passage">
                            <span class="intro">
                                &nbsp;&nbsp;资质背景：四川大学心理学硕士，国家一级婚姻家庭咨询师， 国家二级心理咨询师， 四川省心理协会成员，美国NGH催眠协会会员， 全球职业规划师（GCDF）。
                                <!-- 导师寄语：如果不了解自己，怎么能清楚自己的优劣势，从而建立自己的核心价？ -->
                            </span>
                        </div>
                    </div>

                </li>

                <li class="qw-emotion-qa-content-item swiper-slide">

                    <div class="qw-emotion-qa-content-item-wrapper">
                        <div style="margin: 20px 10px" class="qw-left">
                            <div class="qw-tutor-team-item-portrait" style="background-image: url( '/static/images/daoshi_2.gif')"></div>
                            <span class="qw-tutor-team-item-btn">暖爱老师</span>
                        </div>

                        <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                            <span class="intro">资质背景： 国家三级心理咨询师；国家三级婚姻家庭咨询师；擅长婚姻修复和自我成长， 从事婚姻情感咨询工作达6年，咨询时长超1000小时，已成功帮助上千人。
                                <!-- 导师寄语：希望我是一盏明灯，能够照亮你前进的路。 -->
                            </span>
                        </div>
                    </div>

                </li>

                <li class="qw-emotion-qa-content-item swiper-slide">

                    <div class="qw-emotion-qa-content-item-wrapper">

                        <div style="margin: 20px 10px" class="qw-left">
                            <div class="qw-tutor-team-item-portrait" style="background-image: url( '/static/images/daoshi_3.gif')"></div>
                            <span class="qw-tutor-team-item-btn">李雨恩老师</span>
                        </div>

                        <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                            <span class="intro">资质背景：应用心理学学士；国家二级心理咨询师；国家二级婚姻家庭咨询师。 
                                导师寄语：感情是需要学习的，没有谁是天生就懂得如何爱另一个人。
                            </span>
                        </div>
                    </div>

                </li>

                <li class="qw-emotion-qa-content-item swiper-slide">

                    <div class="qw-emotion-qa-content-item-wrapper">

                        <div style="margin: 20px 10px" class="qw-left">
                            <div class="qw-tutor-team-item-portrait" style="background-image: url( '/static/images/daoshi_4.gif')"></div>
                            <span class="qw-tutor-team-item-btn">汪琴老师</span>
                        </div>

                        <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                            <span class="intro">资质背景：中国首届国际认证高级婚姻家庭指导师；中国高级婚姻家庭教育指导师； 莎提雅治疗师；沙盘治疗师；《婚姻的启蒙》《婚姻的奥秘》等系列课程编创者。 
                                <!-- 导师寄语:情感咨询是针对亲密关系和自我成长的提升改善，突破舒适区的过程必然伴随着不适和痛苦，
                                但老师希望陪着你最终走上幸福的道路，一起走下每一步。 -->
                            </span>
                        </div>
                    </div>

                </li>

                <li class="qw-emotion-qa-content-item swiper-slide">

                    <div class="qw-emotion-qa-content-item-wrapper">

                        <div style="margin: 20px 10px" class="qw-left">
                            <div class="qw-tutor-team-item-portrait" style="background-image: url( '/static/images/daoshi_5.png')"></div>
                            <span class="qw-tutor-team-item-btn">美籽老师</span>
                        </div>

                        <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                            <span class="intro">资质背景：
                                    IAC国际个人形象管理师，
                                    国家注册高级服装搭配师，
                                    中国流行色协会色彩搭配师，
                                    中国色彩协会会员。 
                                <!-- 导师寄语:情感咨询是针对亲密关系和自我成长的提升改善，突破舒适区的过程必然伴随着不适和痛苦，
                                但老师希望陪着你最终走上幸福的道路，一起走下每一步。 -->
                            </span>
                        </div>
                    </div>
                </li>

                <li class="qw-emotion-qa-content-item swiper-slide">
                    <div class="qw-emotion-qa-content-item-wrapper">
                        <div style="margin: 20px 10px" class="qw-left">
                            <div class="qw-tutor-team-item-portrait" style="background-image: url('/static/images/daoshi_6.png')"></div>
                            <span class="qw-tutor-team-item-btn">李浩老师</span>
                        </div>

                        <div style="padding-top: 30px;display: flex" class="qw-emotion-qa-content-passage">
                            <span class="intro">
                            资质背景：四川大学应用心理学高级研修班 国家三级心理咨询师。
                            导师寄语：“你若盛开，清风自来”，当你变得灿烂多姿的时候，幸福便随之而来。
                            </span>
                        </div>
                    </div>
                </li>

            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 分割线 -->
    <div class="qw-cut-line"></div>

    <!--关于我们  -->
    <div class="moke-flex">
        <!-- titel -->
        <div class="qw-tutor-team-head qw-clear">
            <div class="moke-tutor-team-title qw-left">
                <div class="qw-tutor-team-title-line"></div>
            </div>
            <div class="qw-tutor-team-title-passage qw-left">
                <h2>关于我们</h2>
            </div>
        </div>
        <div>
            <img class="model-block" src="/static/images/about.png" alt="关于我们">
        </div>
        {#
        <div>
            <div>
                <img class="model-block" src="/static/images/qinqi.png" alt="">
            </div>
            <div class="text">
                <span>
                    &nbsp;&nbsp;爱情120成立于2010年，前身是爱情120情感工作室。多年来， 我们致力于两性情感解决方案， 用心研究，全心付出。 用最专业的技能和最温暖的关怀成功帮助上万人。 团队汇集大批心理学、情感学方面专家学者，以结果为导向，收获无数学员好评。
                </span>
            </div>
            <div class="text">
                <span>
                    &nbsp;&nbsp;爱情120成立于2010年，前身是爱情120情感工作室。多年来， 我们致力于两性情感解决方案， 用心研究，全心付出。 用最专业的技能和最温暖的关怀成功帮助上万人。 团队汇集大批心理学、情感学方面专家学者，以结果为导向，收获无数学员好评。
                </span>
            </div>
            <div class="text">
                <span>
                    &nbsp;&nbsp;爱情120成立于2010年，前身是爱情120情感工作室。多年来， 我们致力于两性情感解决方案， 用心研究，全心付出。 用最专业的技能和最温暖的关怀成功帮助上万人。 团队汇集大批心理学、情感学方面专家学者，以结果为导向，收获无数学员好评。
                </span>
            </div>

            <div>
                <img class="model-block" src="/static/images/liucheng.png" alt="">
            </div>
        </div> #}
    </div>

</div>
{%endblock %} {% block script %}
<script>
    var QASwiper = $('.qw-emotion-qa .swiper-container').swiper({
        direction: 'horizontal',
        loop: true,
        speed: 1000,
        autoplay: 3500,
        autoplayDisableOnInteraction: false,
        pagination: '.swiper-pagination',
        paginationClickable: true,
    });
</script> {% endblock %}